article {
  width: 500px;
}
p{
  font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",serif;
  line-height: 1.6em;
}

img {
   width: 100%;
}

iframe {
   width: 100%;
}

h1, h2, h3{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1{
  font-size: 2em;
}
/* seems to be aproximately the chrome default.
not sure about other browsers, we'll make it the official style
regardless */
h2{
  font-size: 1.5em;
}
h3{
  font-size: 1.25em;
}

code, pre{
  font-family: Consolas,menlo,monospace;
  color: grey;
  font-size: 0.8em;
}
